@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #234652 url(../star.png);
    background-size: contain;
    animation: animate 25s linear infinite;
    font-family: "Satisfy", cursive;
}

@keyframes animate{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 100%;
    }
}

.container{
    position: relative;
    width: 100%;
    height: 640px;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moon{
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
}

.moon::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background: #234652;
    border-radius: 50%;
    /* box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff; */
}

.moon::after{
    content: '';
    position: absolute;
    top: 0;
    left: -325px;
    height: 100%;
    width: 400px;
    background: linear-gradient(to left,rgba(0,0,0,.4) 0%, rgba(0,0,0,0)100%);
    transform-origin: right;
    transform: rotate(-45deg);
    z-index: -2;
}
.cloud{
    position: absolute;
    top: -100px;
    left: -300px;
    width: 300px;
    height: 100px;
    background: #fff;
    border-radius: 50px;
}

.cloud span{
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    display: block;
}

.cloud span:nth-child(1){
    top: -50px;
    left: 30px;
}

.cloud span:nth-child(2){
    top: -30px;
    left: 140px;
}

.cloud span:nth-child(3){
    top: -80px;
    left: 80px;
}

.cloud::after{
    content: '';
    position: absolute;
    width: 560px;
    height: 240px;
    top: -110px;
    left: -368px;
    background: linear-gradient(to left,rgba(0,0,0,.4) 0%, rgba(0,0,0,0)100%);
    transform-origin: right;
    transform: rotate(-45deg);
    z-index: -2;
}

.cloud2{
    top: 150px;
    left: 200px;
}

h1{
    font-size: 7em;
    color: #fff;
    position: absolute;
    top: 0;
    right: 440px;
}